@import "../../../style-variables";

.suggestion-container {
  width: 100%;
  background: $main_theme_color_grad;
  min-height: $suggestion_height;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.suggestion-text-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.suggestion-text {
  color: $light_color;
  font-size: 2.4vh;
  margin: auto;
}
