@import "../../style-variables";

.main-container {
    width: 100%;
    max-height: calc(100vh - (#{$header_height} + #{$navigator_height}));
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    border-bottom: $border_style;
    border-top: $border_style;
}
.details-and-selected-container{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-left: $border_style;
    border-right: $border_style;
}