@import "../../style-variables";

.main-container {
    width: 100%;
    max-height: $preview_height;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: $border_style;
    border-top: $border_style;
}
.details-and-selected-container{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-left: $border_style;
    border-right: $border_style;
}