@import "../../style-variables";

.preview-container {
  flex: 1 1 auto;
  max-width: $preview_width;
  min-height: $preview_height;
  padding: $preview_padding calc(#{$preview_padding} + 10px);
  box-sizing: border-box;
  img {
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid hsla(0, 100%, 0%, 0.2);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.5);
  }
}

.slick-slide {
  box-sizing: border-box;
  padding: 20px;
}

.control-dots {
  position: absolute;
  min-width: 100%;
  bottom: $dots_height;
  padding: 0;
  margin: 0;
  text-align: center;
  z-index: 5;
}

.control-dots li {
  list-style: none;
  display: inline;
  cursor: pointer;
  margin: 0 16px;
  padding: 0;
}

.control-dots li button {
  border: 2px solid hsla(0, 100%, 100%, 0.4);
  padding: 0px;
  background: transparent;
  color: transparent;
  cursor: pointer;
  height: 16px;
  width: 16px;
  border-radius: 5px;
}

.control-dots li.slick-active button {
  background: $light_color;
  border: $border_style;
  outline: 0;
}

.control-dots li button:focus,
.control-dots li button:hover {
  outline: 0px !important;
}
