@import "../../../style-variables";

.color-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: calc(#{$regular_padding * 1.8});
}

.color-element {
  transition: transform 0.1s ease-in;
  text-align: center;
  margin: calc(#{$regular_padding / 1.8});
  width: 25%;
  img {
    cursor: pointer;
    max-width: 18vmin;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
    .selected {
      border: $border_style;
      border-width: 1px;
    }
  }
  span {
    cursor: pointer;
    display: block;
    color: white;
    height: 0px;
    position: relative;
    bottom: 35%;
    font-size: 2.5vmin;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
    .selected {
      font-size: 3vh;
      transform: scale(1.07);
    }
  }
}

.selected {
  transform: scale(1.07);
}
.checkmark {
  position: absolute;
  z-index: 3;
  font-size: $text_size_normal;
  color: $main_theme_color;
  background: linear-gradient(
    transparent 15%,
    $light_color 15%,
    $light_color 85%,
    transparent 85%
  );
  cursor: pointer;
}
