@import "../../../style-variables";

.variant-container {
  width: 100%;
  height: calc(100% - #{$suggestion_height});
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .variant-element {
    width: 50%;
    padding: $regular_padding;
    .variant-control {
      label {
        margin-left: 2vh;
      }
    }
  }
}
