@import "../../../style-variables";

.cable-container {
  width: 100%;
  height: calc(100% - #{$suggestion_height});
  .cable-element {
    width: 100%;
    padding: $regular_padding;
    .cable-control {
      width: 100%;
      background-color: lighten($suggestion_color, 30%);
      border: $border_style;
      border-width: 1px;
      min-height: 7vh;
      border-radius: 5px;
      padding: $regular_padding;
      height: 100%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      label {
        font-size: $text_size_small;
      }
      span {
        font-size: $text_size_small;
        padding-left: $regular_padding;
      }
      input {
          margin-top: $regular_padding;
        width: 100%;
      }
    }
  }
}
