@import "../../style-variables";

.navigator-container {
  height: $navigator_height;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.option-button {
  flex: 1 1 auto;
  max-width: 224px;
  &:nth-child(1) {
    margin-left: calc(#{$preview_padding} + 30px);
  }
  &:nth-last-child(1) {
    margin-right: calc(#{$preview_padding} + 30px);
  }
}
