@import "../../style-variables";

.navigator-container {
  height: $navigator_height;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  z-index: 4;
  background-color: $background_color;
}

.option-button {
  flex: 1 1 auto;
  max-width: 11vw;
  min-width: 11vw;
  font-size: 1.4vw;
  padding: 1vw;
  line-height: 2.6vh;
  color: $text_color;
  outline: none;
  border: $border_style;
  border-width: 1px;
  border-bottom: 0.7vh solid $main_theme_color;
  border-top: 0px solid transparent;
  background: $background_color_grad;
  cursor: pointer;
  &:nth-child(1) {
    margin-left: calc(#{$preview_padding} + 30px);
  }
  &:nth-last-child(1) {
    margin-right: calc(#{$preview_padding} + 30px);
  }
  &:hover{
    background: lighten($main_theme_color, 20%);
    transition: all 0.2s ease-in-out;
  }
}

.highlighted {
  background: $main_theme_color_grad;
  color: $light_color;
}
.alternative {
  border-bottom: 0.7vh solid $alternative_color;
}
